.navbar-dark .navbar-nav .nav-link, nav h3 {
    color: #fefe33;
    font-family: 'Shadows Into Light', cursive;
}
nav h3:hover {
    color: red;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: red;
}
.navbar-dark .navbar-nav .active>.nav-link {
    color: #fefe33;
    font-family: 'Shadows Into Light', cursive;
}
.navbar-dark .navbar-nav .active>.nav-link:hover {
    color: red;
}
.navbar {
    background-color: black !important;
}
.form-control {
    background-color: #fefe33;
    color: black;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
}
input[type=submit].btn-block {
    background-color: black;
    color: #fefe33;
    font-family: 'Shadows Into Light', cursive;
}
input[type=submit].btn-block:hover {
    color: red;
}
.logo {
    height: 40px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: red;
}
footer {
    padding: 10px 0;
    color: #fefe33;
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
}
span.signature:hover {
    color:red;
}
main {
    padding: 25px 0;
}
.unique-list {
    margin-bottom: 10px;
}
.main_heading {
    font-family: 'Shadows Into Light', cursive;
    color: #fefe33;
    font-weight: bold;
}
.separator {
    background-color: #fefe33;
}
.profile-posts {
    margin-top: 25px;
}
.top {
    background-color: #FE2905;
    width: 0;
}
.image {
    height: 94vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    }
    
    @keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}    
.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
}
.hero_text {
    position: absolute;
    color: red;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
    transition: 0.5s;
    opacity: 0.6;
    text-shadow: 2px 2px #fefe33;
    background-clip: text;
    -webkit-background-clip: text;
}
h1:hover {
    letter-spacing: 5px;
    text-shadow: 2px 2px #F4A460;
    color: #fefe33;
}
.avatar {
    height: 60%;
    width: 60%;
    background-color: #148496;
    border-radius: 50%;
    border: #fefe33 2px inset;
}
button.btn.btn-info.btn-block {
    background-color: black;
    color: #fefe33;
    font-family: 'Shadows Into Light', cursive;
}
button.btn.btn-info.btn-block:hover {
    color: red
}
.d-flex {
    color: black;
    font-family: 'Shadows Into Light', cursive;
}
p.card-text {
    color: black;
}
h4.card-title a{
    color: #FE2905;
    text-decoration: none;
}
.card{
    background-color: #fefe33 !important;
}
.profile {
    align-items: center;
}